/* ~~~~~~~~~~ Country Tax ~~~~~~~~~~ */

.country-page {
    margin-top: 0 !important;
}

.country-tax {
    margin-bottom: 50px;
}

.nav>li {
    position: static;
  }
  
.dropdown-menu {
    width:100%;
    text-align: center;
    
     .menu-item {
         display: inline-block;
     }
}  
  
  
  
  
  